body{
    background-color: #151f2a;
    color: aliceblue;
    margin: 0;
}


/* ================== (START) Complete CSS for Left Side Menu ================== */

/* ================== CSS for Left Top ================== */

    .Left{
        width: 20%;
        display: flex;
        flex-direction: column;
        border: 2px solid red;
    }
    .twitter{
        width: 32px;
        padding:5% 7%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        border: 2px solid red;
    }
    .twitter-icon{
        width: 32px;
        padding: 25%;
        border-radius: 50%;
    }
    .twitter-icon:hover{
        color: white; 
        background-color:  rgb(0, 148, 213,0.1);
    }


    

    /* .list-item{
        font-family: 'Prompt', sans-serif;
        font-size: small;
        padding:5% 7%;
        display: flex;
        transition: 0.2s;
        border: 2px solid red;
    }
    .list-item>p{
        margin: 0%;
        padding: 3%;
        font-size: large;
    } */

i{
    font-family: monospace;
    font-size: small;
}
    .little{  font-family: monospace;
        font-size: small;
        border: 2px solid red;
        padding: 5%;
        tab-size: 1;
        display: flex;
    }
    .little:hover{
        color: #17ADF0; 
        background-color: rgb(0, 148, 213,0.1);
        border-radius: 40px;
    }
/*
    {
        width: 32px;
        height: 32px;
        display: flex;
        text-align: center;
        justify-content: center;
        margin-right: 10%;
        border: 2px solid red;

    }




    .tweet{ 
        text-align: center;
        padding: 5% 5%;
        width: 80%;
        margin-top: 5%;
        background-color: #17ADF0;
        border-radius: 45px;
        font-family: 'Source Sans Pro', sans-serif;
        border: 2px solid red;
    }
*/
/* ================== CSS for Left Bottom ================== */


    .Left-bottom{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10%;
        margin-bottom: 0%;
        padding: 5%;
    }
    .Left-bottom>img{
        border-radius: 50%;
        height: 32px;
        width: 32px;
    }
    .account{
        display: flex;
        flex-direction: column;
        padding:0;
        margin-left: 5%;
    }
    .account>h1{
        font-size: 17px;
        margin-left: 10px;
        padding: 0;
        margin: 0;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .account>p{
        font-size: 14px;
        opacity: 0.7;
        padding: 0;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
    }
    .accounticon{
        margin-left: auto;
    }
    
/* ================== (END) Complete CSS for Left Side Menu ================== */

/* ================== (START) MEDIA QUERY ================== */

@media screen and (max-width: 1000px) {
    .Left-top>ul{
        display: none;
    }
    .Left-bottom{
        display: none;
    }
  }