body{
    background-color: #151f2a;
    color: aliceblue;
    margin: 0;
}

/* ================== CSS for Left Top ================== */


.Left{
    width: 20%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.left-top{
        padding:5% 6%;
        display: flex;
        flex-direction: column;
        transition: 0.2s;
        border: 2px solid red;
    }

i.fa{
    font-family: 'Open Sans', sans-serif;
}

    .list-item{
        padding: 5% 0;
    }
    .icon{
        width: 32px;
        height: 32px;
        display: flex;
        text-align: center;
        margin-right: 10%;
    }
    .tweet{ text-align: center;
        width: 80%;
        margin-top: 5%;
        background-color: #17ADF0;
        font-family: 'Source Sans Pro', sans-serif;
        border-radius: 45px;
    }

/* ================== CSS for Left Bottom ================== */


    .Left-bottom{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10%;
        margin-bottom: 0%;
        padding: 5%;
    }
    .Left-bottom>img{
        border-radius: 50%;
        height: 32px;
        width: 32px;
    }
    .account{
        display: flex;
        flex-direction: column;
        padding:0;
        margin-left: 5%;
    }
    .account>h1{
        font-size: 17px;
        margin-left: 10px;
        padding: 0;
        margin: 0;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .account>p{
        font-size: 14px;
        opacity: 0.7;
        padding: 0;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
    }
    .accounticon{
        margin-left: auto;
    }
    
/* ================== (END) Complete CSS for Left Side Menu ================== */

/* ================== (START) MEDIA QUERY ================== */

@media screen and (max-width: 1000px) {
    .Left-top>ul{
        display: none;
    }
    .Left-bottom{
        display: none;
    }
  }
